<li class="title-list">
    {% if page.date %}
    <time class="content-meta">{{ page.date | date(format="%Y-%m-%d") }}</time>
    {% endif %}
    
    <a href="{{ page.path }}" class="content-link">
        {{ page.title }}
    </a>

    {% if page.summary %}
    <div class="content-preview">
        {{ page.summary | safe | truncate(length=300) }}
    </div>
    {% elif page.description %}
    <div class="content-preview">
        {{ page.description | safe | truncate(length=300) }}
    </div>
    {% else %}
    <div class="content-preview">
        {{ page.content | safe | striptags | truncate(length=300) }}
    </div>
    {% endif %}
</li>
