{% set giscus = config.extra.giscus %}
{% if giscus and giscus.repo and giscus.repo_id and giscus.category and giscus.category_id %}
<div id="giscus-container"
    data-repo="{{ giscus.repo | safe }}"
    data-repo-id="{{ giscus.repo_id }}"
    data-category="{{ giscus.category }}"
    data-category-id="{{ giscus.category_id }}"
    data-mapping="{{ giscus.mapping | default(value='pathname') }}"
    data-strict="{{ giscus.strict | default(value=0) }}"
    data-reactions-enabled="{{ giscus.reactions_enabled | default(value=1) }}"
    data-emit-metadata="{{ giscus.emit_metadata | default(value=0) }}"
    data-input-position="{{ giscus.input_position | default(value='bottom') }}"
    data-lang="{{ giscus.lang | default(value=page.lang | default(value=config.default_language)) }}"
    data-theme="preferred_color_scheme">
</div>
{% else %}
<!-- Giscus configuration is incomplete. Please fill out the [giscus] table in config.toml -->
{% endif %}