{% set cdn_base = config.extra.cdn_base_url | default(value=config.base_url) | trim_end_matches(pat="/") %}
{% set normalized_src = src | trim() %}
{% set stripped_src = normalized_src | trim_start_matches(pat="/") %}

{% if normalized_src is starting_with("http") %}
    {% set final_src = normalized_src %}
{% elif normalized_src is starting_with("/") %}
    {% set final_src = cdn_base ~ "/" ~ stripped_src %}
{% else %}
    {% set base_path = page.path
        | trim_end_matches(pat="/index.md")
        | trim_end_matches(pat="/")
    %}
    {% if base_path != "" %}
        {% set relative_path = base_path ~ "/" ~ stripped_src %}
    {% else %}
        {% set relative_path = stripped_src %}
    {% endif %}
    {% set final_src = cdn_base ~ relative_path %}
{% endif %}

<img
    class="lightbox-trigger"
    src="{{ final_src }}"
    alt="{{ alt | default(value='') }}"
    {% if class %}class="{{ class }}"{% endif %}
    loading="lazy"
/> 